<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="EntityColl_intermediate.design.Activator"
               id="EntityColl_intermediate.design"
	       name="EntityColl_intermediate">
    </component>
  </extension>
</plugin>
